<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="style.css">
   <title>Request Header Parser Microservice</title>
</head>

<body>
   <div class="content">
      <h1>Request Header Parser Microservice</h1>
      <p>A request header parser microservice. It returns IP address, preferred language and software of the client at
         the endpoint <code>[base_url]/api/whoami</code>.</p>
      <h2>Usage example:</h2>
      <p>Input: <a target="_blank" href="https://reqheader-parser.vercel.app/api/whoami"
            rel="noreferrer">https://reqheader-parser.vercel.app/api/whoami</a></p>
      <p>Output:
         <code>{ ipaddress: '189.43.5.56', language: 'en-US,en;q=0.5', software: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.15 Safari/537.36'}</code>
      </p>
   </div>
   <footer>
      <p>Marco Costa 2022. Made with <a target="_blank" href="https://expressjs.com/" rel="noreferrer">Expressjs</a>. <a
            target="_blank" href="https://icons8.com/icon/43988/code" rel="noreferrer">Code</a> icon by <a
            target="_blank" href="https://icons8.com" rel="noreferrer">Icons8</a></p>
   </footer>
</body>

</html>